/* Start var */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition-time: 0.3s;
    --section-padding: 100px;
    --section-background: #ececec;
}
/* End var */
/* Start Golbal */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Mid */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

section:nth-of-type(even) {
    background-color: var(--section-background);
}
/* End Global */
/* Start companent */
.main-heading {
    margin: 0 auto 100px;
    width: fit-content;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 10px 20px;
    position: relative;
    font-size: 30px;
}

.main-heading:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}

.main-heading::before,
.main-heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}

.main-heading::before {
    left: -30px;
}

.main-heading:hover::before {
    z-index: -1;
    -webkit-animation: go-right 0.5s linear forwards;
    -moz-animation: go-right 0.5s linear forwards;
    animation: go-right 0.5s linear forwards;
}
.main-heading::after {
    right: -30px;
}

.main-heading:hover::after {
    z-index: -1;
    -webkit-animation: go-left 0.5s linear forwards;
    -moz-animation: go-left 0.5s linear forwards;
    animation: go-left 0.5s linear forwards;
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: red;
    background: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots {
    background-image: url("../imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-above {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
/* End companent */
/* Start Header */

header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 767px) {
    header .container {
        justify-content: center;
    }
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}

header .main-nav {
    display: flex;
}
header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 2px);
}
header .main-nav > li > a {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition-time);
    overflow: hidden;
    font-size: 18px;
}

@media (max-width: 767px) {
    header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition-time);
}

header .main-nav>li>a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--main-transition-time), opacity var(--main-transition-time);
    z-index: -1;
    opacity: 0;
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition-time);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}
/* End Header */

/* Start Landing */
#landing {
    position: relative;
}

#landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

#landing .container {
    display: flex;
    min-height: calc(100vh - 72px);
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width: 767px) {
    #landing .container {
        min-height: calc(100vh - 90px);
    }
}

#landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    #landing .container .text {
        text-align: center;
    }
}

#landing .container .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    #landing .container .text h1 {
        font-size: 28px;
    }
}

#landing .container .text p {
    font-size: 20px;
    line-height: 1.7;
    margin: 8px 0 0;
    max-width: 500px;
}

@media (max-width: 991px) {
    #landing .container .text p{
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    #landing .container .text p {
        font-size: 18px;
    }
}

#landing .container .image img {
    width: 600px;
    position: relative;
    -webkit-animation: up-and-down 5s linear infinite;
    -moz-animation: up-and-down 5s linear infinite;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    #landing .container .image {
        display: none;
    }
}

#landing .go-down {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    transition: var(--main-transition-time);
}

#landing .go-down:hover {
    color: var(--main-color-alt);
}

#landing .go-down i {
    -webkit-animation: bouncing 1.5s infinite;
    -moz-animation: bouncing 1.5s infinite;
    animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start artciles */
#artciles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}

#artciles .box {
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: var(--main-transition-time);
    border-radius: 6px;
    overflow: hidden;
}

#artciles .box:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

#artciles .box img {
    max-width: 100%;
}

#artciles .box .content {
    padding: 20px;
}

#artciles .box .content h3 {
    margin: 0;
}

#artciles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

#artciles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#artciles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

#artciles .box .info i {
    color: var(--main-color);
}

#artciles .box:hover .info i {
    -webkit-animation: moving-arrow 0.6s linear infinite;
    -moz-animation: moving-arrow 0.6s linear infinite;
    animation: moving-arrow 0.6s linear infinite;
}

/* End artciles */

/* Start Gallery */

#gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

#gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

#gallery .box .image {
    position: relative;
    overflow: hidden;
}

#gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 0;
    height: 0;
    transition: var(--main-transition-time);
    opacity: 0;
    z-index: 2;
}

#gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

#gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition-time);
}

#gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start FEATURES */
#features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

#features .box {
    text-align: center;
    border: 1px solid #ccc;
}

#features .box .image {
    position: relative;
    overflow: hidden;
}

#features .box .image::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

#features .box .image::after {
    content: "";
    position: absolute;
    border-width: 0px 0px 170px 500px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: 0;
    right: 0;
    transition: var(--main-transition-time);
}

#features .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

#features .box.quality .image::before {
    background-color: rgb(244 64 54 / 60%);
}

#features .box.time .image::before {
    background-color: rgb(0 150 136 / 60%);
}

#features .box.passion .image::before {
    background-color: rgb(3 169 244 / 60%);
}


#features .box .image img {
    max-width: 100%;
}

#features .box h3 {
    width: fit-content;
    margin: auto;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}

#features .box h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 15px;
    width: calc(100% - 30px);
    height: 3px;
}

#features .box.quality h3::after {
    background-color: rgb(244 64 54);
}

#features .box.time h3::after {
    background-color: rgb(0 150 136);
}

#features .box.passion h3::after {
    background-color: rgb(3 169 244);
}

#features .box p {
    padding: 25px;
    color: #777;
    margin: 30px 0;
    line-height: 2;
    font-size: 20px;
}

#features .box a {
    display: block;
    margin: 0 auto 20px;
    width: fit-content;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transition-time);
}

#features .box.quality a {
    border-color: rgb(244 64 54);
    color: rgb(244 64 54);
    background: linear-gradient(to right, rgb(244 64 54) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
#features .box.time a {
    border-color: rgb(0 150 136);
    color: rgb(0 150 136);
    background: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
#features .box.passion a {
    border-color: rgb(3 169 244);
    color: rgb(3 169 244);
    background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

#features .box:hover a {
    background-position: left bottom;
    color: white;
}
/* End FEATURES */
/* start testimonials */

#testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 40px;
    row-gap: 60px;
}

#testimonials .box {
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
}

#testimonials .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}

#testimonials .box h3 {
    margin: 0;
}

#testimonials .box .title {
    color: #777;
    display: block;
    margin: 10px 0;
}

#testimonials .box .rate .filled {
    color: #ffc107;
}

#testimonials .box p {
    margin: 10px 0;
    color: #777;
    line-height: 1.7;
}
/* End testimonials */

/* Start team */
#team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}

#team .box {
    position: relative;
}

#team .box::before,
#team .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition-time);
}

#team .box::before {
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    z-index: -2;
}

#team .box::after {
    background-color: #e4e4e4;
    z-index: -1;
    width: 0;
}

#team .box:hover::after {
    width: calc(100% - 60px);
}

#team .box .data {
    padding-top: 60px;
    display: flex;
    align-items: center;
}

#team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition-time);
}

#team .box:hover .data img {
    filter: grayscale(100%);
}

#team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#team .box .data .social a {
    width: 60px;
    display: flex;
    justify-content: center;
}

#team .box .data .social a i {
    color: #777;
    transition: var(--main-transition-time);
}

#team .box .data .social a:hover i {
    color: var(--main-color);
}

#team .box .info {
    padding-left: 80px;
}

#team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition-time);
}

#team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #777;
}

#team .box:hover .info h3{
    color: #777;
}
/* End team */
/* Start services */
#services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
}
#services .box {
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transition: var(--main-transition-time);
    position: relative;
    counter-increment: count;
}
#services .box::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition-time);
}
#services .box:hover {
    transform: translateY(-10px);
}
#services .box:hover::before {
    width: 100%;
}
#services .box i {
    text-align: center;
    margin: 30px auto 20px;
    display: block;
    color: #ccc;
}
#services .box h3 {
    color: var(--main-color);
    text-align: center;
    font-size: 25px;
    margin: 20px auto 30px;
}
#services .box .info{
    background-color: #f9f9f9;
    padding: 15px;
    text-align: right;
    position: relative;
}
#services .box .info::before {
    content: "0" counter(count);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    background-color: var(--main-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .box .info::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 100%;
    top: 0px;
    left: 67px;
    background-color: #ccc;
    transform: skewX(-22deg);
}
#services .box .info a{
    color: var(--main-color);
}
/* End services */
/* Start skills */
#our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    #our-skills .container {
        flex-direction: column;
    }
}
#our-skills .skills {
    flex: 1;
}
@media (max-width: 767px) {
    #our-skills .skills {
        width: 100%;
    }
}
#our-skills .skill>h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#our-skills .skill>h3>span {
    font-size: 12px;
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 5px;
}
#our-skills .skill .the-progress {
    height: 30px;
    background-color: #e6e6e6;
    position: relative;
}
#our-skills .skill .the-progress span{
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* End skills */
/* Start work */
#work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#work-steps img.image {
    margin-right: 100px;
}
@media (max-width: 767px) {
    #work-steps img.image {
        display: none;
    }
}
#work-steps .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}
#work-steps .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: -1;
    background-color: #ededed;
    transition: var(--main-transition-time);
}
#work-steps .box:hover::before {
    width: 100%;
    height: 100%;
}
#work-steps .box img {
    width: 64px;
    margin-right: 20px;
}
#work-steps .box .text h3 {
    margin: 0;
    font-size: 22px;
}
#work-steps .box .text p {
    color: #777;
    line-height: 1.7;
    font-size: 18px;
    margin: 10px 0 0;
}
/* End work */
/* Start events */
#events .container {
    display: flex;
    flex-wrap: wrap;
}
#events .container img {
    max-width: 450px;
}
@media (max-width: 767px) {
    #events .container img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
#events .info {
    flex: 1;
}
#events .info .time {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#events .info .time .unit {
    width: 75px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    transition: var(--main-transition-time);
}
#events .info .time .unit:hover {
    border-color: var(--main-color);
}
#events .info .time .unit span:first-child {
    display: block;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
    color: var(--main-color);
    border-bottom: 1px solid #d4d4d4;
    transition: var(--main-transition-time);
}
#events .info .time .unit span:first-child:hover {
    border-color: var(--main-color);
}
#events .info .time .unit span:last-child {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
}
#events .info h2 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0 0;
}
#events .info p {
    margin: 30px auto 0;
    text-align: center;
    line-height: 1.7;
    color: #777;
    font-size: 19px;
}
#events .subscribe {
    width: 100%;
    margin-top: 80px;
}
#events form {
    width: 600px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f5;
    padding: 30px 40px;
    border-radius: 50px;
}

@media (max-width: 767px) {
    #events form {
        width: 100%;
        flex-direction: column;
        border-radius: 0;
    }
}
#events .subscribe input[type="email"] {
    flex: 1;
    padding: 20px;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
}
@media (max-width: 767px) {
    #events .subscribe input[type="email"] {
        width: 100%;
        border-radius: 0;
    }
}
#events .subscribe input[type="email"]:focus {
    outline: none;
}
#events .subscribe input[type="email"]::placeholder {
    transition: var(--main-transition-time);
}
#events .subscribe input[type="email"]:focus::placeholder {
    opacity: 0;
}
#events .subscribe input[type="submit"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    transition: var(--main-transition-time);
}
@media (max-width: 767px) {
    #events .subscribe input[type="submit"] {
        width: 100%;
        border-radius: 0;
    }
}
#events .subscribe input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End events */
/* Start pricing */
#pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
#pricing .box {
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    text-align: center;
    position: relative;
    z-index: 1;
}
#pricing .box::before,
#pricing .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition-time);
    z-index: -1;
}
#pricing .box:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
#pricing .box:hover::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
}
@media (min-width: 1200px) {
    #pricing .box:nth-child(2) {
        top: -20px;
    }
}
#pricing .box .label {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    writing-mode: vertical-lr;
    padding: 5px 5px 20px 5px;
}
#pricing .box .label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 14px;
    border-color: transparent transparent white transparent;
}
#pricing .box .title {
    margin: 15px auto;
    font-size: 25px;
    font-weight: bold;
}
#pricing .box img {
    width: 80px;
}
#pricing .box .price {
    margin: 30px auto;
}
#pricing .box .amount {
    color: var(--main-color);
    display: block;
    font-size: 50px;
    font-weight: bold;
}
#pricing .box .time {
    color: #777;
}
#pricing .box ul {
    text-align: left;
}
#pricing .box ul li {
    border-top: 1px solid #d4d4d4;
    padding: 20px;
}
#pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: bold;
    margin-right: 10px;
    color: var(--main-color);

}
#pricing .box a {
    display: block;
    margin: 30px auto 40px;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--main-color);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 6px;
    transition: var(--main-transition-time);
}
#pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
}
/* End pricing */
/* Start videos */
#video .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    #video .holder {
        flex-direction: column;
    }
}
#video .holder .list {
    min-width: 300px;
    background-color: white;
}
#video .holder .list .name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--main-color);
    padding: 20px;
    background-color: #f4f4f4;
}
#video .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition-time);
}
#video .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
#video .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}
#video .holder .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#video .holder .preview img {
    max-width: 100%;
    flex: 1;
    position: relative;
}
#video .holder .preview .info {
    background-color: #e4e4e4;
    padding: 10px;
    font-size: 20px;
}
/* End videos */
/* Start stats */
#stats {
    background-image: url("../imgs/stats.jpg");
    background-size: cover;
    min-height: 300px;
}
#stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}
#stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
#stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
    position: relative;
}
#stats .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: 0.65;
    transition: var(--main-transition-time);
    position: relative;
}
#stats .box:hover {
    opacity: 1;
}
#stats .box::before,
#stats .box::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 0;
    transition: 0.8s;
}
#stats .box::before {
    bottom: 0;
    left: 0;
}
#stats .box::after {
    top: 0;
    right: 0;
}
#stats .box:hover::before,
#stats .box:hover::after {
    width: 3px;
    height: 100%;
}

#stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
#stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
}
/* End stats */
/* Start Discount */
#discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
#discount .content {
    text-align: center;
    padding: 0 20px;
}

#discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
#discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
#discount .content img {
    width: 300px;
    max-width: 100%;
}
#discount .image {
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    color: white;
    z-index: 1;
    position: relative;
    animation: change-background 10s linear infinite;
}
@media (max-width: 991px) {
    #discount .image {
        flex-basis: 100%;
    }
}
#discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 80%);
    z-index: -1;
}
#discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
@media (max-width: 991px) {
    #discount .form {
        flex-basis: 100%;
    }
}
#discount .form input:not(input[type="submit"]),
#discount .form textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #CCC;
    margin-bottom: 25px;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
#discount .form textarea {
    resize: none;
    height: 200px;
}
#discount .form input:not(input[type="submit"]):focus,
#discount .form textarea:focus {
    outline: none;

}
#discount .form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition-time);
}
#discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt)
}
/* End Discount */
/* Start Footer */
footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 768px) {
    footer {
        padding: 50px 20px 0;
        text-align: center;
    }
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
    font-weight: bold;

}
footer .box .social {
    display: flex;
    gap: 10px;
}
@media (max-width: 768px) {
    footer .box .social {
        justify-content: center;
    }
}
footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: var(--main-transition-time);
}
footer .box .social li a.facebook:hover {
    background-color: #1877f2;
}
footer .box .social li a.twitter:hover {
    background-color: #1da1f2;
}
footer .box .social li a.youtube:hover {
    background-color: #ff0000;
}
footer  .box .text {
    line-height: 2;
    color: #b9b9b9;
}
footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition-time);
}
footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .box .links li:hover {
    padding-left: 10px;
}
footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition-time);
}
footer .box .links li:hover a {
    color: white;
}
footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    footer .box .line {
        flex-direction: column;
    }
}
footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 768px) {
    footer .box .line i {
        margin-bottom: 10px;
    }
}
footer .box .line .info {
    line-height: 1.8;
    flex: 1;
}
footer .box .line .info span {
    display: block;
}
footer .footer-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
footer .footer-gallery img{
    width: 78px;
    border: 3px solid white;
    margin: 3px;
}
footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
footer .copyright i {
    color: #cc3030;
    padding: 0 2px;
}
/* End Footer */
/* Start animation */
@keyframes up-and-down {
    0%,100% {
        top:0
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%,10%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40%,60% {
        transform: translateY(-15px);
    }
}

@keyframes go-right {
    50% {
        width: 12px;
        height: 12px;
        left: 0;
    }
    100% {
        border-radius: 0;
        width: 100%;
        height: 100%;
        left: 0;
    }
}

@keyframes go-left {
    50% {
        width: 12px;
        height: 12px;
        right: 0;
    }
    100% {
        border-radius: 0;
        width: 100%;
        height: 100%;
        right: 0;
    }
}

@keyframes  moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {
    0%,40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0% {
        background-image: url("../imgs/discount-background1.jpg");
    }
    50% {
        background-image: url("../imgs/discount-background2.jpg");
    }
    100% {
        background-image: url("../imgs/discount-background1.jpg");
    }
}
/* End animation */

